* *::before *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #274471;
  font-family: lato;
  text-align: left;
}
.container {
  border-radius: 6px;
  width: 400px;
  background-color: rgb(243, 243, 243);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px 25px;
}

input[type="text"] {
  width: 100%;
  padding: 10px 16px;
  margin: 8px 0px;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  padding: 10px 16px;
  margin: 8px 0px;
  box-sizing: border-box;
}
#email {
  width: 100%;
  padding: 10px 16px;
  margin: 8px 0px;
  box-sizing: border-box;
}

input {
  width: 100%;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: red !important;
}
.submit {
  background-color: #1ac0f3;
  padding: 14px 20px;
}
